body {
  background: #ef32d9;
  background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);
  background: linear-gradient(to right, #89fffd, #ef32d9);
}

.title, .company {
  font-size: 6rem;
}

.title {
  color: white;
}

.company {
  color: rgb(43, 43, 43);
}

.input-form {
  text-align: center;
}

.input-box, .submit-btn {
  color: white;
  background-color: rgb(43, 43, 43);
  border: 4px solid black;
  border-radius: 8px;
  outline: none;
  font-size: 2rem;
}

.input-box {
  transition: all 0.3s linear;
}

.submit-btn {
  margin-left: 4px;
}

.input-box:focus {
  border-color: rgb(100, 100, 100);
}

.submit-btn:active {
  border-color: rgb(100, 100, 100);
}
