html {
  font-size: 10px;
}

body {
  height: 100vh;
  margin: 0;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);
  background: linear-gradient(to bottom, #2c3e50, #bdc3c7);
}

.container {
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 98vh;
  background: none;
}

.dev {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-decoration: none;
  color: rgb(43, 43, 43);
  font-size: 1.2em;
  font-weight: bolder;
}
